
@font-face {
  font-family: "Expo Arabic";
  src: url(EXPO\ ARABIC\ SEMIBOLD.TTF);
}
body
{
  font-family: "Expo Arabic";
}


* {
  transition: .5s;
  
}
section {
  padding: 50px 12px 12px 12px;
}

.navbar-brand img {
  max-height: 42px;
}
.navbar-brand {
  font-size: 25px;
  font-weight: 700;
}
.collapse {
  justify-content: center;
}
.btn-703edb {
  background-color: #703edb;
  color: #ffffff;
  border-radius: 30px;
  padding: 6px 25px 10px;
}
.btn-703edb:hover {
  background-color: #703edb;
  color: #ffffff;
  border-radius: 30px;
  padding: 6px 25px 10px;
}
.big:hover {
  padding: 14px 38px 14px 50px;
}
.dropdown-toggle::after {
  margin: 0 6px;
}
.dropdown {
  position: unset;
}
.dropdown-menu {
  width: 100%;
}
nav {
  border-bottom: solid #f8e9de 1px;
}
nav .container {
  max-width: 100% !important;
}
.landing {
  background-image: url("../img/Banner-Pet-new01.png");
  min-height: calc(100vw * 0.5625);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  padding: 60px 20px 50px;
}
.landing .sec2 {
  min-width: 50%;
}
.landing .sec2 img {
  height: auto;
  width: 100%;
  max-width: 576px;
  border: none;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.section1 {
  padding: 40px 32px;
  background-color: #f3f8fc;
}
.bg-green-center {
  display: block;
  width: fit-content;
  margin: auto;
  background-color: #e3fae1;
  color: #42df31;
  padding: 8px 15px;
  border-radius: 50px;
  margin-bottom: 28px;
}
.section1 h2 {
  text-align: center;
}
.section1 p {
  text-align: center;
}
.section1 .d-flex.flex-wrap {
  margin-top: 40px;
}
.section1 .d-flex.flex-wrap .image {
  border-radius: 50%;
  position: relative;
  margin-bottom: 30px;
}
.section1 .d-flex.flex-wrap .image span {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  background-color: #fff;
  width: 60px;
  height: 60px;
  padding: 0;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 35%);
  box-shadow: 0px 0px 5px -3px #000;
}
.section1 .d-flex.flex-wrap .image span i::before {
  content: "\f105";
}
.section1 .d-flex.flex-wrap .image span:hover i::before {
  content: "\f061";
}
.section2 {
  background-image: url(../img/Polygon-1.jpg);
  background-repeat: no-repeat;
  background-color: #fff9f5;
}
.section2 .serverse-center {
  display: block;
  width: fit-content;
  margin: auto;
  background-color: #fbeae0;
  color: #d87c3f;
  padding: 8px 15px;
  border-radius: 50px;
}
.section2 .txt-sec {
  text-align: center;
}
.section2 > .d-flex > * {
  flex: 1;
}
.section2 > .d-flex .image {
  display: flex;
  align-items: center;
  justify-content: center;
}
.section2 > .d-flex .image img {
  max-width: 100%;
  max-height: 100%;
}
.section2 > .d-flex .icons .con {
  margin: 20px 0;
}
.section2 > .d-flex .icons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.section2 > .d-flex .icons .con .icon {
  margin: 0 20px;
  border-radius: 50%;
  aspect-ratio: 1/1;
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.orange {
  color: #fe8d4f;
}
.btn-orange {
  color: #fe8d4f;
  background-color: #fbeae0;
}
.btn-color {
  border-radius: 30px;
  padding: 3px 10px 6px;
  margin: 10px;
  margin-top: 74px;
  display: block;
  width: fit-content;
}
.btn-green {
  color: #42df31;
  background-color: #e3fae1;
}
.text {
  font-size: 50px;
  font-weight: 700;
}
.big {
  padding: 14px 38px 14px 50px;
}
section.d-flex > * {
  flex: 1;
}
section.d-flex .sec1 {
  position: relative;
  aspect-ratio: 1/1;
}
section.d-flex .sec1 img {
  position: absolute;
  max-width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
section.d-flex .sec1 [src="./assets/img/Pet-care-2x-03-min.png"] {
  width: 50%;
  transform: translate(-13%, 22%);
}
section.d-flex .sec1 [src="./assets/img/lines.svg"] {
  width: 20%;
  transform: translate(-250%, -235%) rotatez(180deg) rotatex(180deg);
}
.CARE-SERVICES .sec2 [src="./assets/img/lines.svg"] {
  width: 20%;
  transform: translate(100%, -600%) rotatez(180deg) rotatex(180deg);
}
section.d-flex .sec2 {
  padding-right: 14px;
  padding-left: 20px;
  padding-top: 10px;
}
.icocon2,
.icocon1 {
  display: flex;
  margin-top: 20px;
}
.icocon2 .ico,
.icocon1 .ico {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff3dd;
  border-radius: 50%;
  width: 69.7px;
  height: 65.7px;
}
.icocon1 .ico {
  background-color: #fff3dd;
}
.icocon2 .ico {
  background-color: #ebfff1;
}

.icocon2 .txtcon h2 , .icocon1 .txtcon h2  {
  font-size: 20px;
  padding: 20px 20px 0 0;
}

.bg-purple {
  background-color: #703edb;
  padding: 50px 50px 55px;
  margin-top: 100px;
}
.small-sec {
  display: flex;
  justify-content: space-between;
}
.small-sec.bg-purple {
  margin: 80px 0 90px 0;
}
.btn-con {
  display: flex;
  align-items: center;
  justify-content: center;
}
.safe-btn {
  border-radius: 50px;
  padding: 14px 44px;
  color: #703edb;
}
.text-con {
  color: #fff;
  text-align: center;
}
.text-con p {
  color: #fff;
}
.text-con h1 {
  font-size: 40px;
  
}
.rotate {
  transform: rotatey(180deg);
}
.btn-purp {
  background-color: #eee6ff;
  color: #703edb;
}
.CARE-SERVICES {
  margin: 12px 0;
  display: flex;
  padding: 10px 10px;
}
.CARE-SERVICES > * {
  flex: 1;
}
.CARE-SERVICES .sec2 {
  position: relative;
}
.CARE-SERVICES .sec2 img {
  position: absolute;
  top: 50%;
  left: 50%;
}
.CARE-SERVICES .sec2 img[src="./assets/img/Pet-care-2x-04-min.png"] {
  max-width: 90%;
  transform: translate(-50%, -50%);
}
.CARE-SERVICES .sec2 img[src="./assets/img/lines.svg"] {
  max-width: 20% !important;
  transform: translate(-248%, -178%) rotatez(180deg) rotatex(180deg);
}
.final {
  display: flex;
  gap: 63px;
  justify-content: space-evenly;
  padding-bottom: 50px;
}
.card {
  max-width: 300px;
  border-radius: 0.5rem;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  border: 1px solid transparent;
  border-radius: 20px;
}
.card a {
  text-decoration: none;
}
.content {
  padding: 1.1rem;
}
.image:not(.section1 .d-flex.flex-wrap .image):not(.section2 > .d-flex .image) {
  object-fit: cover;
  width: 100%;
  height: 150px;
  border-radius: 7px;
}
.date
{
  opacity: .8;
  padding: 20px 20px 0 0;

}



.date svg 
{

    margin-top: -3px;

}
.title {
  color: #111827;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 600;
  padding-bottom: 20px;
}
.action {
  display: inline-flex;
  margin-top: 1rem;
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  align-items: center;
  gap: 0.25rem;
  background-color: #6f42c1;
  padding: 10px 8px;
  border-radius: 4px;
}
.action span {
  transition: 0.3s ease;
}
.action:hover span {
  transform: translateX(4px);
}
footer {
  color: #fff;
  background-image: url(../img/Polygon-1-copy-7-1.jpg);
  background-position: 0 0;
  background-size: 150%;
  background-color: #2c2d43;
  background-repeat: no-repeat;
  min-height: 100px;
  padding: 50px 0 0 0;
}
footer .sec1 p {
  color: #ffffffe2;
}
footer .sec1 {
  display: flex;
  height: 100%;
  align-items: center;
}
footer .sec1 > * {
  flex: 1;
  padding-right: 50px;
}
footer .sec1 .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
footer .sec1 form .input {
  display: flex;
  position: relative;
  justify-content: center;
  height: 60px;
  border-radius: 50px;
}
footer .sec1 form .input input {
  flex: 1;
  border-radius: 50px;
  padding-right: 20px;
}
footer .sec1 form .input button {
  position: absolute;
  height: 75%;
  top: 50%;
  left: 10px;
  transform: translatey(-50%);
  border-radius: 50px;
  background-color: #703edb;
  color: #fff;
}
footer .sec1 form .input button:hover {
  background-color: #5c25d2;
}
footer .sec2 {
  flex-wrap: wrap !important;
  margin: 30px 0 0;
  padding: 30px 15px;
  border-top: solid 1px #43455d;
  border-bottom: solid 1px #43455d;
}
footer .sec2 > * {
  flex: 1;
  min-width: 25%;
}
footer .sec2 .con .icon {
  color: #fff;
  display: flex;
}
footer .sec2 .con .icon i {
  display: flex;
  margin: 5px;
  border: solid snow 1px;
  width: 25px;
  height: 25px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
p.footer {
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 15px;

  
}
section:not([class]) > .txt p {
  padding: 0 100px;
}
@media (max-width: 992px) {
  section.d-flex {
    flex-direction: column;
    margin-top: -334px;
  }
  section.d-flex .sec1 {
    margin-top: 250px;
  }
  .landing
  {
    padding: 20px 20px 50px 20px;
    
  }
  footer .sec1
  {
    padding: 30px;
  }
  .icocon1,
  .icocon2 {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
  }
  .btn.small {
    display: none;
  }
  .collapse {
    position: absolute;
    top: 100%;
    background: #fff;
    width: 100%;
    right: 0;
    padding-right: 73px;
    padding-bottom: 10px;
  }
  .CARE-SERVICES {
    flex-direction: column;
  }
  .CARE-SERVICES .sec2 {
    aspect-ratio: 1/1 !important;
  }
  .CARE-SERVICES .sec2 img {
    max-width: 80%;
    max-height: 80%;
    top: 0;
    right: 50%;
    transform: translate(50%, 10%) !important;
  }
  .CARE-SERVICES .sec2 img[src="./assets/img/lines.svg"] {
    max-width: 20% !important;
    max-height: 20% !important;
    top: 0;
    right: 50%;
    transform: translate(214%, 15%) !important;
  }
  .small-sec {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  footer .sec2 > * {
    min-width: 50%;
  }
}
@media (max-width: 840px) {
  .section2 > .d-flex {
    flex-direction: column;
  }
  .section2 > .d-flex .left {
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-right: 25px;
    padding-top: 25px;
  }
  .section2 > .d-flex .image img {
    max-width: 500px;
  }
 
}
@media (max-width: 768px) {
  .landing .sec2 {
    display: none;
  }
  footer .sec1 .icon {
    display: none;
  }
  footer .sec1 > * 
  {
    padding-right: 0;
  }
  section:not([class]) > .txt p {
    padding: 0;
  }
  .icocon2 .txtcon h2 {
    font-size: 20px;
    position: absolute;
    margin-top: -60px;
    margin-right: 58px;
  }
  .icocon1 .txtcon h2 {
    font-size: 20px;
    position: absolute;
    margin-top: -60px;
    margin-right: 62px;
  
  }
}
@media (max-width: 688px) {
  .final {
    display: flex;
    flex-wrap: wrap;
  }
  .section2 > .d-flex .image img {
    max-width: 100%;
  }
}
@media (max-width: 688px) {
  footer .sec2 > * {
    min-width: 80%;
    max-width: 80%;
    margin: 0 auto;
  }

}
svg[fill="#6ED85F"] {
  background-color: #c5f9cf;
}
svg[fill="#6ED85F"].radius {
  background-color: #c5f9cf;
  border-radius: 50%;
}
.ico-orange {
  background-color: #fff3dd;
  fill: #ff7200;
}
.ico-green {
  background-color: #ebfff1;
  fill: #6ed85f;
}
.ico-blue {
  background-color: #ddf1ff;
  fill: #0ea1ff;
}
.ico-purp {
  background-color: #f3eefe;
  fill: #4533f9;
}
.ico-gray {
  background-color: #f0f0f0;
  fill: #2a2a2a;
}
.ico-pink {
  background-color: #fae6fc;
  fill: #c306cf;
}
p:not(footer .sec2 .con  p , .text-con p) {
  color: #6c757d;
  padding: 20px;
}